.row {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}

.col-sm-12 {
    flex: 1;
}

.cards {
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 230px;
    text-align: center;
    color: #ffffff !important;
    padding-top: 25px;
    width: 300px;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to left, #23a323, #008000) !important;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}



.card-title {
    font-size: 30px;
    margin-bottom: 10px;
   
}

.card-text {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff !important;
}

.delete-btns {
    background-color: #ff4d4d !important;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #ff1a1a;
}